# Limpieza de Datos de Tráfico en Barcelona

In [73]:
#importamos librerías
import pandas as pd

In [74]:
#carga de datos de trafico para filtrar
trafico = pd.read_csv('/Users/jessicasuse/Desktop/Tráfico/Barcelona/2018_06_Juny_ITINERARIS_ITINERARIS.csv', sep=",", engine = 'python', index_col = None)

In [75]:
#carga de datos de ubicacion para filtrar
tramo = pd.read_csv('/Users/jessicasuse/Desktop/Tráfico/Barcelona/transit_relacio_trams.csv', sep=",", engine = 'python', index_col = None)

In [77]:
#eliminamos las filas de trafico que no tienen infoDisponible (0)
trafico = trafico.drop(trafico[trafico['infoDisponible']<=0].index)
#eliminamos las filas de trafico que tienen tempsPrevist, factorReferenciaActual y tendencia = -1
trafico = trafico.drop(trafico[trafico['tempsPrevist']<=0].index)

In [78]:
trafico ['infoDisponible']

0         1
1         1
2         1
3         1
5         1
         ..
123476    1
123477    1
123478    1
123479    1
123486    1
Name: infoDisponible, Length: 64268, dtype: int64

In [79]:
trafico ['tempsPrevist']

0         300
1         257
2         306
3         324
5         275
         ...
123476    209
123477    115
123478    127
123479    132
123486    430
Name: tempsPrevist, Length: 64268, dtype: int64

In [80]:
trafico.head()

,idTram,infoDisponible,data,tempsActual,tempsPrevist,tempsRecorregutFutur,factorReferenciaActual,tendencia
0,1,1,20180601002553,301,300,1,1,1
1,2,1,20180601002553,262,257,1,1,1
2,3,1,20180601002553,306,306,1,1,1
3,4,1,20180601002553,325,324,1,1,1
5,6,1,20180601002553,275,275,1,1,1

In [81]:
tramo.head()

,Tram,Descripció,Coordenades
0,1,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
1,2,Diagonal (Doctor Marañón a Ronda de Dalt),"2.111944376806616,41.38446666680338,2.10159408..."
2,3,Diagonal (Doctor Marañón a Pl. Pius XII),"2.112093343037027,41.38422850920645,2.12264979..."
3,4,Diagonal (Pl. Pius XII a Doctor Marañón),"2.122592049318304,41.38719094189204,2.11196902..."
4,5,Diagonal (Pl. Pius XII a Pl. Maria Cristina),"2.122657659295115,41.38694195794678,2.12755961..."

In [82]:
trafico.describe()

,idTram,infoDisponible,data,tempsActual,tempsPrevist,tempsRecorregutFutur,factorReferenciaActual,tendencia
count,64268.000000,64268.0,6.426800e+04,64268.000000,64268.000000,64268.000000,64268.000000,64268.000000
mean,37.659722,1.0,2.018062e+13,241.477516,241.504886,0.991178,0.988252,0.997246
std,23.162690,0.0,8.942484e+06,113.709579,113.436061,0.197861,0.188771,0.115444
min,1.000000,1.0,2.018060e+13,28.000000,28.000000,0.000000,0.000000,0.000000
25%,21.000000,1.0,2.018061e+13,164.000000,164.000000,1.000000,1.000000,1.000000
50%,36.000000,1.0,2.018062e+13,219.000000,219.000000,1.000000,1.000000,1.000000
75%,56.000000,1.0,2.018062e+13,299.000000,299.000000,1.000000,1.000000,1.000000
max,2003.000000,1.0,2.018063e+13,1141.000000,1277.000000,2.000000,2.000000,2.000000

In [83]:
tramo.describe()

             Tram
count  492.000000
mean   257.455285
std    155.899127
min      1.000000
25%    123.750000
50%    246.500000
75%    405.250000
max    534.000000

In [84]:
#para tomar en cuenta todo el dataset de trafico
trafico.describe(include = 'all')

,idTram,infoDisponible,data,tempsActual,tempsPrevist,tempsRecorregutFutur,factorReferenciaActual,tendencia
count,64268.000000,64268.0,6.426800e+04,64268.000000,64268.000000,64268.000000,64268.000000,64268.000000
mean,37.659722,1.0,2.018062e+13,241.477516,241.504886,0.991178,0.988252,0.997246
std,23.162690,0.0,8.942484e+06,113.709579,113.436061,0.197861,0.188771,0.115444
min,1.000000,1.0,2.018060e+13,28.000000,28.000000,0.000000,0.000000,0.000000
25%,21.000000,1.0,2.018061e+13,164.000000,164.000000,1.000000,1.000000,1.000000
50%,36.000000,1.0,2.018062e+13,219.000000,219.000000,1.000000,1.000000,1.000000
75%,56.000000,1.0,2.018062e+13,299.000000,299.000000,1.000000,1.000000,1.000000
max,2003.000000,1.0,2.018063e+13,1141.000000,1277.000000,2.000000,2.000000,2.000000

In [85]:
#para tomar en cuenta todo el dataset de tramos
tramo.describe(include = 'all')

,Tram,Descripció,Coordenades
count,492.000000,492,492
unique,NaN,487,492
top,NaN,P. Sant Joan Bosco (Pl. Prat de la Riba a Pl. ...,"2.149790043766557,41.42580938700818,2.14829803..."
freq,NaN,2,1
mean,257.455285,NaN,NaN
std,155.899127,NaN,NaN
min,1.000000,NaN,NaN
25%,123.750000,NaN,NaN
50%,246.500000,NaN,NaN
75%,405.250000,NaN,NaN
max,534.000000,NaN,NaN

In [86]:
#obtenemos los tipos de datos
trafico.dtypes

idTram                    int64
infoDisponible            int64
data                      int64
tempsActual               int64
tempsPrevist              int64
tempsRecorregutFutur      int64
factorReferenciaActual    int64
tendencia                 int64
dtype: object

In [87]:
#obtenemos los tipos de datos
tramo.dtypes

Tram            int64
Descripció     object
Coordenades    object
dtype: object

### Tratamos los datos perdidos

In [88]:
missing_data = trafico.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print('')

idTram
False    64268
Name: idTram, dtype: int64

infoDisponible
False    64268
Name: infoDisponible, dtype: int64

data
False    64268
Name: data, dtype: int64

tempsActual
False    64268
Name: tempsActual, dtype: int64

tempsPrevist
False    64268
Name: tempsPrevist, dtype: int64

tempsRecorregutFutur
False    64268
Name: tempsRecorregutFutur, dtype: int64

factorReferenciaActual
False    64268
Name: factorReferenciaActual, dtype: int64

tendencia
False    64268
Name: tendencia, dtype: int64

In [89]:
missing_data = tramo.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print('')

Tram
False    492
Name: Tram, dtype: int64

Descripció
False    492
Name: Descripció, dtype: int64

Coordenades
False    492
Name: Coordenades, dtype: int64

In [90]:
#reemplazamos valores perdidos por np.nan
import numpy as np
tramo.replace("?", np.NaN, inplace = True)
tramo.dropna(subset=['Tram', 'Descripció', 'Coordenades'], axis = 0, inplace= True)
tramo.reset_index(drop = True, inplace = True)

In [91]:
#averiguamos que dato que se repite con más frecuencia
tramo.describe(include=[np.object])
#el top es el que se repite más veces, por lo que hay que reemplazar todos los NaN por ese en su categoría

,Descripció,Coordenades
count,492,492
unique,487,492
top,P. Sant Joan Bosco (Pl. Prat de la Riba a Pl. ...,"2.149790043766557,41.42580938700818,2.14829803..."
freq,2,1

In [92]:
tramo['Descripció'].replace(np.NaN, 'Diagonal (Entença a Numància)', inplace = True)

In [93]:
tramo['Coordenades'].replace(np.NaN, '2.177763706074873,41.4052353026407,2.170011548506239,41.39941440081933,2.169951058459747,41.39930869468298', inplace = True)

In [94]:
#averiguamos el promedio de los integer perdidos
average_tram = tramo['Tram'].astype(float).mean(axis = 0)

In [95]:
#reemplazamos los datos perdidos con este promedio
tramo['Tram'].replace(np.NaN, average_tram, inplace = True)

In [96]:
tramo['Tram']

0        1
1        2
2        3
3        4
4        5
      ...
487    530
488    531
489    532
490    533
491    534
Name: Tram, Length: 492, dtype: int64

In [97]:
tramo['Coordenades']

0      2.11203535639414,41.3841912394771,2.1015028628...
1      2.111944376806616,41.38446666680338,2.10159408...
2      2.112093343037027,41.38422850920645,2.12264979...
3      2.122592049318304,41.38719094189204,2.11196902...
4      2.122657659295115,41.38694195794678,2.12755961...
                             ...
487    2.14689, 41.34946, 2.14681, 41.34943, 2.14622,...
488    2.206259340928256,41.44361502134825,2.20757431...
489    2.206062333803802,41.44356616311283,2.20747237...
490    2.206243003622748,41.44362108033077,2.20220784...
491    2.206062333803802,41.44356616311283,2.20196194...
Name: Coordenades, Length: 492, dtype: object

In [98]:
#renombramos columnas de tramo
tramo = tramo.rename(columns = {'Tram':'idTram', 'Descripció':'Tramo', 'Coordenades':'Coordenadas'})

In [99]:
tramo

,idTram,Tramo,Coordenadas
0,1,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
1,2,Diagonal (Doctor Marañón a Ronda de Dalt),"2.111944376806616,41.38446666680338,2.10159408..."
2,3,Diagonal (Doctor Marañón a Pl. Pius XII),"2.112093343037027,41.38422850920645,2.12264979..."
3,4,Diagonal (Pl. Pius XII a Doctor Marañón),"2.122592049318304,41.38719094189204,2.11196902..."
4,5,Diagonal (Pl. Pius XII a Pl. Maria Cristina),"2.122657659295115,41.38694195794678,2.12755961..."
...,...,...,...
487,530,Ronda Litoral (Passeig de la Zona Franca a Est...,"2.14689, 41.34946, 2.14681, 41.34943, 2.14622,..."
488,531,Ronda Litoral (Gran Via a Potosí),"2.206259340928256,41.44361502134825,2.20757431..."
489,532,Ronda Litoral (Potosí a Gran Via),"2.206062333803802,41.44356616311283,2.20747237..."
490,533,Ronda Litoral (Potosí a Nus de la Trinitat),"2.206243003622748,41.44362108033077,2.20220784..."
491,534,Ronda Litoral (Nus de la Trinitat a Potosí),"2.206062333803802,41.44356616311283,2.20196194..."

In [100]:
#renombramos columnas de trafico
trafico = trafico.rename(columns = {'data':'fecha'})

In [101]:
trafico

,idTram,infoDisponible,fecha,tempsActual,tempsPrevist,tempsRecorregutFutur,factorReferenciaActual,tendencia
0,1,1,20180601002553,301,300,1,1,1
1,2,1,20180601002553,262,257,1,1,1
2,3,1,20180601002553,306,306,1,1,1
3,4,1,20180601002553,325,324,1,1,1
5,6,1,20180601002553,275,275,1,1,1
...,...,...,...,...,...,...,...,...
123476,67,1,20180630232054,221,209,1,1,1
123477,68,1,20180630232054,118,115,1,1,1
123478,69,1,20180630232054,124,127,1,1,1
123479,70,1,20180630232054,131,132,1,1,1
123486,77,1,20180630232054,431,430,1,1,1

In [102]:
#unión de tablas por campo idTram
trafico_tramo = pd.merge(trafico, tramo, on='idTram')

In [103]:
trafico_tramo

,idTram,infoDisponible,fecha,tempsActual,tempsPrevist,tempsRecorregutFutur,factorReferenciaActual,tendencia,Tramo,Coordenadas
0,1,1,20180601002553,301,300,1,1,1,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
1,1,1,20180601005553,300,300,1,1,1,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
2,1,1,20180601012554,300,303,1,1,1,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
3,1,1,20180601015552,300,299,1,1,1,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
4,1,1,20180601022555,300,300,1,1,1,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
...,...,...,...,...,...,...,...,...,...,...
64262,24,1,20180603183552,264,265,1,1,1,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."
64263,24,1,20180607101552,263,263,1,1,1,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."
64264,24,1,20180608001054,263,263,1,1,1,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."
64265,24,1,20180615133050,264,263,1,1,1,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."
64266,24,1,20180615171550,263,265,1,1,1,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."

In [104]:
media = trafico_tramo["tempsActual"].mean()
mediana = trafico_tramo["tempsActual"].median()
moda = trafico_tramo["tempsActual"].mode()
print("""
    Media: %d
    Mediana: %d
    Moda: %d
""" % (media,mediana,moda))

    Media: 241
    Mediana: 219
    Moda: 164

In [105]:
#sacar solo los valores que superen la media de segundos
trafico_tramo_max_seg = trafico_tramo[(trafico_tramo.tempsActual >= 241)]

In [106]:
#nuevo dataframe solo con los campos de interés
nuevo_trafico_tramo = trafico_tramo_max_seg[['fecha', 'tempsActual','Tramo','Coordenadas']].copy()
nuevo_trafico_tramo

,fecha,tempsActual,Tramo,Coordenadas
0,20180601002553,301,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
1,20180601005553,300,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
2,20180601012554,300,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
3,20180601015552,300,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
4,20180601022555,300,Diagonal (Ronda de Dalt a Doctor Marañón),"2.11203535639414,41.3841912394771,2.1015028628..."
...,...,...,...,...
64262,20180603183552,264,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."
64263,20180607101552,263,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."
64264,20180608001054,263,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."
64265,20180615133050,264,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."
64266,20180615171550,263,Pg. Manuel Girona (Pl. Prat de la Riba a Av. P...,"2.119731027688196,41.38958532109157,2.12038583..."

In [108]:
nuevo_trafico_tramo['Tramo'].unique()

array(['Diagonal (Ronda de Dalt a Doctor Marañón)',
       'Diagonal (Doctor Marañón a Ronda de Dalt)',
       'Diagonal (Doctor Marañón a Pl. Pius XII)',
       'Diagonal (Pl. Pius XII a Doctor Marañón)',
       'Diagonal (Pl. Maria Cristina a Pl. Pius XII)',
       'González Tablas (Av. Esplugues a Av. Diagonal)',
       'Av. Pedralbes (Carretera Esplugues a Pg. Manuel Girona)',
       'Av. Pedralbes (Pg. Manuel Girona a Pl. Pius XII)',
       'Av. Foix (Pg. Reina Elisenda a Ronda de Dalt)',
       'Capità Arenas (Pg. Manuel Girona a Pl. Maria Cristina)',
       'Av. Doctor Marañón (Av. Diagonal a Aristides Maillol)',
       'Av. Joan XXIII (Pl. Pius XII a Av. Doctor Marañón)',
       'Aristides Maillol (Av. Doctor Marañón a Travessera de les Corts)',
       'Travessera de les Corts (Gran Via Carles III a Aristides Maillol)',
       'Via Augusta (Vergós a Mitre)',
       'Carles III (Carrer de Sants a Travessera de les Corts)',
       'Carles III (Carrer de Sants a Pl. Cerdà)',
       'Doctor Roux (Mitre a Via Augusta)',
       'Ganduxer (Diagonal a Pl. Gregori Tramaturg)',
       'Muntaner (Pl. Bonanova a Mitre)',
       'Av. Tibidabo (Balmes a Ronda de Dalt)',
       'Balmes (Mitre a Av. Tibidabo)', 'Balmes (Mitre a Pl. Molina)',
       'Balmes (Pl. Molina a Mitre)',
       'Balmes (Pl. Molina a Travessera de Gràcia)',
       "Via Augusta (Príncep d'Astúries a Travessera de Gràcia)",
       'Balmes (Av. Tibidabo a Mitre)',
       'Av. Esplugues (Av. Pedralbes a Ronda de Dalt)',
       'Pg. Reina Elisenda (Via Augusta a Av. Pedralbes)',
       'Pg. Manuel Girona (Pl. Prat de la Riba a Av. Pedralbes)'],
      dtype=object)

In [107]:
#extracción del nuevo dataframe
nuevo_trafico_tramo.to_csv('/Users/jessicasuse/Desktop/BigData/Proyecto/Git/ProyectoBigData/Tráfico/Barcelona/2018_06_Juny_Barcelona.csv')#index = False

In [ ]:
rellenados = {'normalized-losses':imports85['normalized-losses'].mean(), 'num-of-doors':imports85['num-of-doors'].mode().loc[0],
              'bore':imports85['bore'].mean(), 'stroke':imports85['stroke'].mean(),
              'horsepower':imports85['horsepower'].mean(),'peak-rpm':imports85['peak-rpm'].mean(),
              'price':imports85['price'].mean()}
imports85.fillna(rellenados, inplace=True)
imports85.head(10)