### Analisis Datos Tráfico por Tramo Barcelona

Importamos librerías

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 2018 - 2019

Cargamos los datos de los csv desde url de los 24 meses

In [3]:
dfGener_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_01_Gener_TRAMS_TRAMS.csv'
dfFebrer_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_02_Febrer_TRAMS_TRAMS.csv'
dfMarc_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_03_Marc_TRAMS_TRAMS.csv'
dfAbril_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_04_Abril_TRAMS_TRAMS.csv'
dfMaig_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_05_Maig_TRAMS_TRAMS.csv'
dfJuny_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_06_Juny_TRAMS_TRAMS.csv'
dfJuliol_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_07_Juliol_TRAMS_TRAMS.csv'
dfAgost_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_08_Agost_TRAMS_TRAMS.csv'
dfSetembre_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_09_Setembre_TRAMS_TRAMS.csv'
dfOctubre_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_10_Octubre_TRAMS_TRAMS.csv'
dfNovembre_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_11_Novembre_TRAMS_TRAMS.csv'
dfDesembre_2018 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2018_12_Desembre_TRAMS_TRAMS.csv'

dfGener_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_01_Gener_TRAMS_TRAMS.csv'
dfFebrer_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_02_Febrer_TRAMS_TRAMS.csv'
dfMarc_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_03_Marc_TRAMS_TRAMS.csv'
dfAbril_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_04_Abril_TRAMS_TRAMS.csv'
dfMaig_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_05_Maig_TRAMS_TRAMS.csv'
dfJuny_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_06_Juny_TRAMS_TRAMS.csv'
dfJuliol_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_07_Juliol_TRAMS_TRAMS.csv'
dfAgost_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_08_Agost_TRAMS_TRAMS.csv'
dfSetembre_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_09_Setembre_TRAMS_TRAMS.csv'
dfOctubre_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_10_Octubre_TRAMS_TRAMS.csv'
dfNovembre_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_11_Novembre_TRAMS_TRAMS.csv'
dfDesembre_2019 = 'https://opendata-ajuntament.barcelona.cat/resources/auto/transit/2019_12_Desembre_TRAMS_TRAMS.csv'

dfGener_2018 = pd.read_csv(dfGener_2018)
dfFebrer_2018 = pd.read_csv(dfFebrer_2018)
dfMarc_2018 = pd.read_csv(dfMarc_2018)
dfAbril_2018 = pd.read_csv(dfAbril_2018)
dfMaig_2018 = pd.read_csv(dfMaig_2018)
dfJuny_2018 = pd.read_csv(dfJuny_2018)
dfJuliol_2018 = pd.read_csv(dfJuliol_2018)
dfAgost_2018 = pd.read_csv(dfAgost_2018)
dfSetembre_2018 = pd.read_csv(dfSetembre_2018)
dfOctubre_2018 = pd.read_csv(dfOctubre_2018)
dfNovembre_2018 = pd.read_csv(dfNovembre_2018)
dfDesembre_2018 = pd.read_csv(dfDesembre_2018)

dfGener_2019 = pd.read_csv(dfGener_2019)
dfFebrer_2019 = pd.read_csv(dfFebrer_2019)
dfMarc_2019 = pd.read_csv(dfMarc_2019)
dfAbril_2019 = pd.read_csv(dfAbril_2019)
dfMaig_2019 = pd.read_csv(dfMaig_2019)
dfJuny_2019 = pd.read_csv(dfJuny_2019)
dfJuliol_2019 = pd.read_csv(dfJuliol_2019)
dfAgost_2019 = pd.read_csv(dfAgost_2019)
dfSetembre_2019 = pd.read_csv(dfSetembre_2019)
dfOctubre_2019 = pd.read_csv(dfOctubre_2019)
dfNovembre_2019 = pd.read_csv(dfNovembre_2019)
dfDesembre_2019 = pd.read_csv(dfDesembre_2019)

Cocatenamos los ficheros por año

In [4]:
dfTraficBarc_2018 = pd.concat([dfGener_2018, dfFebrer_2018, dfMarc_2018, dfAbril_2018, dfMaig_2018, dfJuny_2018, dfJuliol_2018, dfAgost_2018, dfSetembre_2018, dfOctubre_2018, dfNovembre_2018, dfDesembre_2018])
dfTraficBarc_2019 = pd.concat([dfGener_2019, dfFebrer_2019, dfMarc_2019, dfAbril_2019, dfMaig_2019, dfJuny_2019, dfJuliol_2019, dfAgost_2019, dfSetembre_2019, dfOctubre_2019, dfNovembre_2019, dfDesembre_2019])

Cocatenamos los 2 ficheros de ambos años y los hacemos uno

In [5]:
dfTraficBarc = pd.concat([dfTraficBarc_2018, dfTraficBarc_2019])
dfTraficBarc

         idTram            data  estatActual  estatPrevist
0             1  20180101000554            0             0
1             2  20180101000554            0             0
2             3  20180101000554            0             0
3             4  20180101000554            0             0
4             5  20180101000554            0             0
...         ...             ...          ...           ...
4638122     530  20191231235553            1             0
4638123     531  20191231235553            1             0
4638124     532  20191231235553            1             0
4638125     533  20191231235553            1             5
4638126     534  20191231235553            1             0

[55159214 rows x 4 columns]

Mostramos columnas y valores del dataframe creado

In [7]:
print(dfTraficBarc.columns)
dfTraficBarc.head()
dfTraficBarc

Index(['idTram', 'data', 'estatActual', 'estatPrevist'], dtype='object')

         idTram            data  estatActual  estatPrevist
0             1  20180101000554            0             0
1             2  20180101000554            0             0
2             3  20180101000554            0             0
3             4  20180101000554            0             0
4             5  20180101000554            0             0
...         ...             ...          ...           ...
4638122     530  20191231235553            1             0
4638123     531  20191231235553            1             0
4638124     532  20191231235553            1             0
4638125     533  20191231235553            1             5
4638126     534  20191231235553            1             0

[55159214 rows x 4 columns]

#### Examinamos los datos

Tipo

In [8]:
dfTraficBarc.describe()

             idTram          data   estatActual  estatPrevist
count  5.515921e+07  5.515921e+07  5.515921e+07  5.515921e+07
mean   2.695084e+02  2.018886e+13  1.000939e+00  9.130845e-01
std    1.753607e+02  3.967633e+09  1.103935e+00  1.136178e+00
min    1.000000e+00  2.018010e+13  0.000000e+00  0.000000e+00
25%    1.330000e+02  2.019040e+13  0.000000e+00  0.000000e+00
50%    2.650000e+02  2.019070e+13  1.000000e+00  0.000000e+00
75%    3.980000e+02  2.019100e+13  2.000000e+00  2.000000e+00
max    2.004000e+03  2.019123e+13  6.000000e+00  6.000000e+00

In [9]:
dfTraficBarc.dtypes

idTram          int64
data            int64
estatActual     int64
estatPrevist    int64
dtype: object

Cantidad de nulos = 0

In [10]:
dfTraficBarc.isnull().sum()

idTram          0
data            0
estatActual     0
estatPrevist    0
dtype: int64

'estatActual' es el campo que da la medida del estado del tráfico en cada tramo de la ciudad y en cada tiempo:
0 = sin datos / 1 = muy fluido / 2 = fluido / 3 = denso / 4 = muy denso / 5 = congestión / 6 = cortado

El 0 es falta de dato, por lo que necesitamos averiguar cuántos registros contienen 0 en este campo y quitarlos.

Examinamos los valores de estatActual

In [11]:
dfTraficBarc['estatActual'].value_counts()

0    25089970
2    15642094
1    10679988
3     2375305
4      841672
5      426871
6      103314
Name: estatActual, dtype: int64

Eliminamos las filas con estatActual 0. 
Ya que vamos a obtener la mediana de este campo

In [ ]:
dfTraficBarc = dfTraficBarc.drop(dfTraficBarc[dfTraficBarc['estatActual'] == 0].index)
dfTraficBarc

Eliminamos las columnas que no son de interes

In [ ]:
dfTraficBarc = dfTraficBarc.drop(columns = ['index','idTram','estatPrevist'])
dfTraficBarc

Renombramos columnas

In [ ]:
dfTraficBarc = dfTraficBarc.rename(columns = {'data':'fecha', 'estatActual': 'estado_actual'})

#### Formateamos el campo fecha

In [ ]:
dfTraficBarc['fecha']

In [ ]:
dfTraficBarc['fecha'] = pd.to_datetime(dfTraficBarc['fecha'], format='%Y%m%d%H%M%S')
dfTraficBarc['fecha']

#### Agrupamos

Añadimos campo fecha como indice

In [ ]:
dfTraficBarc = dfTraficBarc.set_index('fecha')
dfTraficBarc

Agrupamos los registros por día y obtenemos la suma del tiempo en segundos por día

In [ ]:
dfTraficBarc = dfTraficBarc.resample('D').median()
dfTraficBarc

In [ ]:
len(dfTraficBarc)

Comprobamos si hay dias sin datos

In [ ]:
dfTraficBarc.isnull().sum()

Gráfico de visualización

In [ ]:
plt.plot(dfTraficBarc)
plt.show()

Exportamos el dataframe en csv

In [ ]:
dfTraficBarc.to_csv('TraficBarc.csv')