## Consultas de datos metereologicos para estaciones relacionadas con Madrid y Barcelona

>#### Utilizaremos una copia de la siguiente libreria (https://github.com/pablo-moreno/python-aemet) ya creada y paquetizada con todos los metodos para hacer las consultas a la Api. 
>#### De las librerias python para consultas a aemet disponibles, esta parece ser que esta bastante bien documentada y mantenida.
>#### La instalamos y hacemos un help a ver como trabajar con esta.

#pip install python-aemet

In [1]:
import aemet
help(aemet)

Help on package aemet:

NAME
    aemet

PACKAGE CONTENTS
    constants
    models
    utils

DATA
    AEMET_DIR = r'C:\Users\jaume\.aemet'
    API_KEY = ''
    API_KEY_FILE = r'C:\Users\jaume\.aemet\api.key'
    BALEARES = 'b'
    BASE_DIR = r'C:\Users\jaume\anaconda3\envs\BIGDATA\lib\site-packages\a...
    BASE_URL = 'https://opendata.aemet.es/opendata/api'
    CANARIAS = 'c'
    CCAA = 'ccaa'
    CONTAMINACION_FONDO_ESTACION_API_URL = 'https://opendata.aemet.es/open...
    ESTACIONES_EMA_API_URL = 'https://opendata.aemet.es/opendata/api/valor...
    HOME_DIR = r'C:\Users\jaume'
    HOY = 'hoy'
    INCENDIOS_EN_3_DIAS = 3
    INCENDIOS_MANANA = 1
    INCENDIOS_PASADO_MANANA = 2
    MANANA = 'manana'
    MAPAS_SIGNIFICATIVOS_API_URL = 'https://opendata.aemet.es/opendata/api...
    MAPAS_SIGNIFICATIVOS_DIAS = {'HOY_0_12': 'a', 'HOY_12_24': 'b', 'MANAN...
    MAPAS_SIGNIFICATIVOS_FECHA_API_URL = 'https://opendata.aemet.es/openda...
    MAPA_ANALISIS_API_URL = 'https://opendata.aemet.es/opendata/api/mapasy...
    MAPA_RAYOS_API_URL = 'https://opendata.aemet.es/opendata/api/red/rayos...
    MAPA_RIESGO_INCENDIOS_ESTIMADO = 'https://opendata.aemet.es/opendata/a...
    MAPA_RIESGO_INCENDIOS_PREVISTO = 'https://opendata.aemet.es/opendata/a...
    MEDIO_PLAZO = 'medioplazo'
    MUNICIPIOS_API_URL = 'https://opendata.aemet.es/opendata/api/maestro/m...
    MUNICIPIOS_DETALLE_API_URL = 'https://opendata.aemet.es/opendata/api/m...
    NACIONAL = 'nacional'
    OBSERVACION_CONVENCIONAL_API_URL = 'https://opendata.aemet.es/opendata...
    OBSERVACION_CONVENCIONAL_ESTACION_API_URL = 'https://opendata.aemet.es...
    PASADO_MANANA = 'pasadomanana'
    PENINSULA = 'p'
    PERIODO_DIA = 'PERIODO_DIA'
    PERIODO_SEMANA = 'PERIODO_SEMANA'
    PREDICCION_ESPECIFICA_MONTANYA_API_URL = 'https://opendata.aemet.es/op...
    PREDICCION_ESPECIFICA_MONTANYA_DIA_API_URL = 'https://opendata.aemet.e...
    PREDICCION_ESPECIFICA_PLAYA_API_URL = 'https://opendata.aemet.es/opend...
    PREDICCION_ESPECIFICA_UVI_API_URL = 'https://opendata.aemet.es/opendat...
    PREDICCION_MARITIMA_ALTA_MAR_API_URL = 'https://opendata.aemet.es/open...
    PREDICCION_MARITIMA_COSTERA_API_URL = 'https://opendata.aemet.es/opend...
    PREDICCION_NIVOLOGICA_API_URL = 'https://opendata.aemet.es/opendata/ap...
    PREDICCION_NORMALIZADA_API_URL = 'https://opendata.aemet.es/opendata/a...
    PREDICCION_POR_HORAS_API_URL = 'https://opendata.aemet.es/opendata/api...
    PREDICCION_SEMANAL_API_URL = 'https://opendata.aemet.es/opendata/api/p...
    PRODUCTOS_CLIMATOLOGICOS_API_URL = 'https://opendata.aemet.es/opendata...
    PROVINCIA = 'provincia'
    RADAR_NACIONAL_API_URL = 'https://opendata.aemet.es/opendata/api/red/r...
    RADAR_REGIONAL_API_URL = 'https://opendata.aemet.es/opendata/api/red/r...
    RESUMEN_CLIMATOLOGICO_MENSUAL_API_URL = 'https://opendata.aemet.es/ope...
    SATELITE_NVDI = 'https://opendata.aemet.es/opendata/api/satelites/prod...
    SATELITE_SST = 'https://opendata.aemet.es/opendata/api/satelites/produ...
    TENDENCIA = 'tendencia'
    TIPO_ALTA_MAR = 'altamar'
    TIPO_COSTERA = 'costera'
    VALORES_CLIMATOLOGICOS_DIARIOS = 'https://opendata.aemet.es/opendata/a...
    VALORES_CLIMATOLOGICOS_EXTREMOS = 'https://opendata.aemet.es/opendata/...
    VALORES_CLIMATOLOGICOS_MENSUALES = 'https://opendata.aemet.es/opendata...
    VALORES_CLIMATOLOGICOS_NORMALES = 'https://opendata.aemet.es/opendata/...
    VCP = 'P'
    VCT = 'T'
    VCV = 'V'
    main = <Command main>

FILE
    c:\users\jaume\anaconda3\envs\bigdata\lib\site-packages\aemet\__init__.py

>**-Nos interesa estudiar el archivo models.py para ver como trabaja la libreria**

#### Definimos nuestra api key previamente solicitada en la web de aemet opendata:https://opendata.aemet.es/centrodedescargas/inicio

In [2]:
Mi_API_KEY='eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJqYXVtZUBncmVlbmZvb2RpYmVyaWNhLmVzIiwianRpIjoiMWFmMmM5ZDMtMDBhZS00YWMwLTk2ZjctZTYzODZiYzQ3NDRjIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2MDIwMDcyNjEsInVzZXJJZCI6IjFhZjJjOWQzLTAwYWUtNGFjMC05NmY3LWU2Mzg2YmM0NzQ0YyIsInJvbGUiOiIifQ.R9v0ZXsF3sN-_p87RjELY91YYTVWqx_DqellRX9xCD4'

#### En el portal de aemet podemos testear y consultar que tipos de datos nos interesan (https://opendata.aemet.es/centrodedescargas/productosAEMET?) y con mas detalle de como trabajar la consulta con la API (https://opendata.aemet.es/dist/index.html?)

>#### En nuestro caso nos podra interesar:
>#### 1* Los valores climatologicos diarios de las mismas estaciones objetivo para hacer la consulta de los historicos. valores estacion vs date
>#### 
>#### 2 Los datos de las ultimas observaciones convencionales por estaciones objetivo. Ofrecen datos por hora. valores por estacion vs date time
>#### (es posible montar una estructura de consultas realtime para trabajar las predicciones de nuestro modelo ?) (hay que tener en cuenta limite peticiones por minuto/key)

#### En qualquier caso primero consultamos las estaciones disponibles para definir las estaciones objetivo. Lo metemos en un df de pandas para posteriormente filtrar por provincia y estacion:

In [3]:
from aemet import Aemet, Estacion
import json


aemet = Aemet(api_key=Mi_API_KEY)
estaciones = Estacion.get_estaciones(api_key=Mi_API_KEY)[:]
#print(estaciones)

In [4]:
import pandas as pd 
df_estaciones = pd.DataFrame(estaciones)
df_estaciones.columns=['latitud','provincia','altitud','indicativo','nombre','indsinop','longitud']
df_estaciones.head()

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud
0,413515N,BARCELONA,74,0252D,ARENYS DE MAR,08186,023224E
1,411734N,BARCELONA,4,0076,BARCELONA AEROPUERTO,08181,020412E
2,412506N,BARCELONA,408,0200E,"BARCELONA, FABRA",,020727E
3,412326N,BARCELONA,6,0201D,BARCELONA,08180,021200E
4,414312N,BARCELONA,291,0149X,MANRESA,08174,015025E

In [5]:
mad_bcn_estaciones = df_estaciones[df_estaciones["provincia"].isin(['BARCELONA', 'MADRID'])]

print(mad_bcn_estaciones)

     latitud  provincia altitud indicativo                        nombre  \
0    413515N  BARCELONA      74      0252D                 ARENYS DE MAR
1    411734N  BARCELONA       4       0076          BARCELONA AEROPUERTO
2    412506N  BARCELONA     408      0200E              BARCELONA, FABRA
3    412326N  BARCELONA       6      0201D                     BARCELONA
4    414312N  BARCELONA     291      0149X                       MANRESA
5    413125N  BARCELONA     146      0229I           SABADELL AEROPUERTO
6    413903N  BARCELONA      40      0255B                 SANTA SUSANNA
73   404735N     MADRID    1894       2462         PUERTO DE NAVACERRADA
108  400402N     MADRID     540      3100B                      ARANJUEZ
109  410025N     MADRID    1030      3110C           BUITRAGO DEL LOZOYA
110  404146N     MADRID    1004      3191E                COLMENAR VIEJO
111  401758N     MADRID     620       3200                        GETAFE
112  402800N     MADRID     609       3129             MADRID AEROPUERTO
113  402706N     MADRID     664      3194U  MADRID, CIUDAD UNIVERSITARIA
114  402232N     MADRID     690       3196        MADRID, CUATRO VIENTOS
115  402443N     MADRID     667       3195                MADRID, RETIRO
116  404223N     MADRID    1532      3266A          PUERTO ALTO DEL LEÓN
117  402540N     MADRID     763       3338            ROBLEDO DE CHAVELA
118  410808N     MADRID    1450      3111D                    SOMOSIERRA
119  402919N     MADRID     607       3175             TORREJÓN DE ARDOZ

    indsinop longitud
0      08186  023224E
1      08181  020412E
2             020727E
3      08180  021200E
4      08174  015025E
5      08192  020611E
6      08188  024149E
73     08215  040038W
108    08229  033246W
109    08146  033649W
110    08219  034554W
111    08224  034320W
112    08221  033320W
113    08220  034327W
114    08223  034710W
115    08222  034041W
116    08217  040831W
117    08212  041500W
118    08145  033449W
119    08227  032637W

#### de momento utilizo una de ellas como ejemplo para definir como trabajar los datos. por ejemplo la id 3195 madrid,retiro que es la linea 115

In [6]:
estacion = Estacion.buscar_estacion('MADRID, CUATRO VIENTOS',Mi_API_KEY)
print(estacion)

[<aemet.models.Estacion object at 0x000001F4DD1BAC40>]

In [7]:
#estacion.get_observacion_convencional(,'MADRID, CUATRO VIENTOS',raw=False)

In [8]:
import datetime as dt

aemet = Aemet(Mi_API_KEY)
estaciones = Estacion.get_estaciones(Mi_API_KEY)[115:116]
datos = []
fechaini=str('2017-01-01')
fechafin=str('2020-12-01')


for estacion in estaciones:
    print('{}: {}'.format(estacion['indicativo'], estacion['nombre']))
    vcm = aemet.get_valores_climatologicos_diarios(fechaini,fechafin, estacion['indicativo'])
    resultado = {
        'estacion': estacion,
        'valores_climatologicos': vcm,
    }
    datos.append(resultado)

print(json.dumps(datos, indent=2))
print(fechaini)
print(fechafin)

3195: MADRID, RETIRO
[
  {
    "estacion": {
      "latitud": "402443N",
      "provincia": "MADRID",
      "altitud": "667",
      "indicativo": "3195",
      "nombre": "MADRID, RETIRO",
      "indsinop": "08222",
      "longitud": "034041W"
    },
    "valores_climatologicos": {
      "descripcion": "No hay datos que satisfagan esos criterios",
      "estado": 404
    }
  }
]
2017-01-01
2020-12-01

In [9]:
##no me aclaro con el formato de las fechas.. 
## por hoy avanzo con una consulta manual en la web para estacion 3195 retiro de 2017 a 11 2020

import urllib, json
import urllib.request, json 
with urllib.request.urlopen("https://opendata.aemet.es/opendata/sh/e7577723") as url:
    datos = json.loads(url.read().decode())
    
import pandas as pd 
 
df_estacion_datos_diarios = pd.DataFrame(datos)
df_estacion_datos_diarios.columns=['fecha','indicativo','nombre','provincia','altitud','tmed','prec','tmin','horatmin','tmax','horatmax','dir','velmedia','racha','horaracha','presmax','horapresmax','presmin','horapresmin']
df_estacion_datos_diarios.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presmax,horapresmax,presmin,horapresmin
0,2017-01-01,3195,"MADRID, RETIRO",MADRID,667,"1,7","0,0","-0,6",05:30,"4,0",Varias,04,"0,0","3,3",01:20,"951,8",00,"944,8",24
1,2017-01-02,3195,"MADRID, RETIRO",MADRID,667,"2,7","0,0","-0,8",01:40,"6,2",15:30,04,"0,8","4,4",10:50,"945,5",24,"943,6",06
2,2017-01-03,3195,"MADRID, RETIRO",MADRID,667,"6,0",Ip,"1,7",05:50,"10,2",15:40,25,"0,0","3,3",14:10,"948,6",24,"945,3",01
3,2017-01-04,3195,"MADRID, RETIRO",MADRID,667,"6,8","0,0","2,2",08:30,"11,5",14:30,23,"0,8","3,6",14:10,"950,4",10,"947,4",Varias
4,2017-01-05,3195,"MADRID, RETIRO",MADRID,667,"7,2","0,0","4,7",03:30,"9,8",Varias,28,"0,6","2,8",13:10,"947,7",12,"946,3",16

## En un primer vistazo veo que hay registros dodne en lugar de un valor nos pone "varias"

##### pongo las definiciones de los campos FYI
  "campos": [
  	{"id":"fecha",
	"descripcion": "fecha del dia (AAAA-MM-DD)",
	"tipo_datos": "string",
    	"requerido": true
    },
	{"id":"indicativo",
	"descripcion": "indicativo climatológico",
	"tipo_datos": "string",
    	"requerido": true
	
    },
	{"id": "nombre",
	"descripcion": "nombre (ubicación) de la estación",
	"tipo_datos": "string",
    	"requerido": true 
    },
	{"id": "provincia",
	"descripcion": "provincia de la estación",
	"tipo_datos": "string",
    	"requerido": true
    },
	{"id": "altitud",
	"descripcion": "altitud de la estación en m sobre el nivel del mar",
	"tipo_datos": "float",
	"unidad": "m",
    	"requerido": true
    },
	{"id":"tmed",
	"descripcion": "Temperatura media diaria",
	"tipo_datos": "float",
	"unidad": "grados celsius",
    	"requerido": false
    },
	{"id":"prec",
        "descripcion": "Precipitación diaria de 07 a 07",
        "tipo_datos": "float",
        "unidad": "mm (Ip = inferior a 0,1 mm)",
        "requerido": false
    },
        {"id":"tmin",
        "descripcion": "Temperatura Mínima del día",
        "tipo_datos": "float",
        "unidad": "ºC",
        "requerido": false
    },
        {"id":"horatmin",
        "descripcion": "Hora y minuto de la temperatura mínima",
        "tipo_datos": "string",
	"unidad": "UTC",
        "requerido": false
    },
        {"id":"tmax",
        "descripcion": "Temperatura Máxima del día",
        "tipo_datos": "float",
        "unidad": "ºC",
        "requerido": false
    },
        {"id":"horatmax",
        "descripcion": "Hora y minuto de la temperatura máxima",
        "tipo_datos": "string",
	"unidad": "UTC",
        "requerido": false
    },
        {"id":"dir",
        "descripcion": "Dirección de la racha máxima",
        "tipo_datos": "float",
        "unidad": "decenas de grado",
        "requerido": false
    },
        {"id":"velmedia",
        "descripcion": "Velocidad media del viento",
        "tipo_datos": "float",
        "unidad": "m/s",
        "requerido": false
    },
        {"id":"racha",
        "descripcion": "Racha máxima del viento",
        "tipo_datos": "float",
        "unidad": "m/s",
        "requerido": false
    },
        {"id":"horaracha",
        "descripcion": "Hora y minuto de la racha máxima",
        "tipo_datos": "string",
	"unidad": "UTC",
        "requerido": false
    },
        {"id":"sol",
        "descripcion": "Insolación",
        "tipo_datos": "float",
	"unidad": "horas",
        "requerido": false
    },
        {"id":"presmax",
        "descripcion": "Presión máxima al nivel de referencia de la estación",
        "tipo_datos": "float",
	"unidad": "hPa",
        "requerido": false
    },
        {"id":"horapresmax",
        "descripcion": "Hora de la presión máxima (redondeada a la hora entera más próxima)",
        "tipo_datos": "string",
	"unidad": "UTC",
        "requerido": false
    },
        {"id":"presmin",
        "descripcion": "Presión mínima al nivel de referencia de la estación",
        "tipo_datos": "float",
	"unidad": "hPa",
        "requerido": false
    },
        {"id":"horapresmin",
        "descripcion": "Hora de la presión mínima (redondeada a la hora entera más próxima)",
        "tipo_datos": "string",
	"unidad": "UTC",
        "requerido": false

In [10]:
#### vemos las medidas del dataset
df_estacion_datos_diarios.shape

(1430, 19)

In [11]:
#### Vamos a visualizar las filas problematicas con 'Varias' a ver que hacemos con esto

df_estacion_datos_diarios[df_estacion_datos_diarios.eq('Varias').any(1)]

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presmax,horapresmax,presmin,horapresmin
0,2017-01-01,3195,"MADRID, RETIRO",MADRID,667,"1,7","0,0","-0,6",05:30,"4,0",Varias,04,"0,0","3,3",01:20,"951,8",00,"944,8",24
3,2017-01-04,3195,"MADRID, RETIRO",MADRID,667,"6,8","0,0","2,2",08:30,"11,5",14:30,23,"0,8","3,6",14:10,"950,4",10,"947,4",Varias
4,2017-01-05,3195,"MADRID, RETIRO",MADRID,667,"7,2","0,0","4,7",03:30,"9,8",Varias,28,"0,6","2,8",13:10,"947,7",12,"946,3",16
5,2017-01-06,3195,"MADRID, RETIRO",MADRID,667,"5,4","0,0","1,1",06:45,"9,8",Varias,NaN,NaN,NaN,NaN,"950,5",24,"947,4",00
6,2017-01-07,3195,"MADRID, RETIRO",MADRID,667,"5,0","0,0","-0,3",08:10,"10,4",14:10,04,"0,0","4,2",23:10,"952,0",11,"949,9",Varias
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,2020-11-18,3195,"MADRID, RETIRO",MADRID,667,"11,6","0,0","9,3",00:25,"13,9",15:45,NaN,NaN,NaN,NaN,"951,3",Varias,"949,7",16
1421,2020-11-22,3195,"MADRID, RETIRO",MADRID,667,"8,4","0,0","4,2",06:50,"12,7",Varias,NaN,NaN,NaN,NaN,"951,2",10,"948,2",Varias
1422,2020-11-23,3195,"MADRID, RETIRO",MADRID,667,"9,2","0,0","4,5",Varias,"13,9",15:15,NaN,NaN,NaN,NaN,"949,9",10,"948,3",14
1425,2020-11-26,3195,"MADRID, RETIRO",MADRID,667,"10,5","4,6","8,5",Varias,"12,5",19:15,NaN,NaN,NaN,NaN,"936,0",01,"933,4",13
1427,2020-11-28,3195,"MADRID, RETIRO",MADRID,667,"9,0","0,0","7,1",07:30,"10,8",Varias,NaN,NaN,NaN,NaN,"935,2",24,"928,8",05

In [12]:
df_estacion_datos_diarios.isin(['Varias']).sum(axis=0)

fecha            0
indicativo       0
nombre           0
provincia        0
altitud          0
tmed             0
prec             0
tmin             0
horatmin       114
tmax             0
horatmax        50
dir              0
velmedia         0
racha            0
horaracha       72
presmax          0
horapresmax    207
presmin          0
horapresmin    197
dtype: int64

##### 524 filas son como el 30% filas donde nos vienen con algun valor en varias.
##### Aunque parecen ser en campos relacionados con la hora en que se produce un valor minimo o maximo. Segurament si se dio el caso que hay mas de una hora con una minima o una maxima el data set no se moja y nos dice "varias".
#### Dejaremos de momento estas filas donde tenemos "varias" maximas y minimas y trataremos el problema si consideramos que las horas del dia son relevantes.

#### Vemos tambien hay Nulos /NAN. Hacemos lo mismo a ver que tenemos

In [13]:
df_estacion_datos_diarios[df_estacion_datos_diarios.isnull().any(1)]

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presmax,horapresmax,presmin,horapresmin
5,2017-01-06,3195,"MADRID, RETIRO",MADRID,667,"5,4","0,0","1,1",06:45,"9,8",Varias,NaN,NaN,NaN,NaN,"950,5",24,"947,4",00
150,2017-05-31,3195,"MADRID, RETIRO",MADRID,667,"23,6","0,0","16,6",Varias,"30,5",NaN,NaN,NaN,NaN,NaN,"942,7",Varias,"939,3",18
188,2017-07-08,3195,"MADRID, RETIRO",MADRID,667,"20,4","1,3","15,8",05:50,"24,9",12:10,88,NaN,"6,7",12:30,"940,4",00,"937,4",20
200,2017-07-20,3195,"MADRID, RETIRO",MADRID,667,NaN,"0,0",NaN,NaN,NaN,NaN,NaN,"0,8",NaN,NaN,NaN,NaN,NaN,NaN
213,2017-08-02,3195,"MADRID, RETIRO",MADRID,667,NaN,"0,0",NaN,NaN,NaN,NaN,NaN,"3,1",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,2020-11-26,3195,"MADRID, RETIRO",MADRID,667,"10,5","4,6","8,5",Varias,"12,5",19:15,NaN,NaN,NaN,NaN,"936,0",01,"933,4",13
1426,2020-11-27,3195,"MADRID, RETIRO",MADRID,667,"9,3","11,4","7,4",22:15,"11,2",08:45,NaN,NaN,NaN,NaN,"935,0",00,"930,5",24
1427,2020-11-28,3195,"MADRID, RETIRO",MADRID,667,"9,0","0,0","7,1",07:30,"10,8",Varias,NaN,NaN,NaN,NaN,"935,2",24,"928,8",05
1428,2020-11-29,3195,"MADRID, RETIRO",MADRID,667,"8,8","0,0","6,4",02:10,"11,3",14:40,NaN,NaN,NaN,NaN,"943,0",24,"935,0",00
1429,2020-11-30,3195,"MADRID, RETIRO",MADRID,667,"9,6","0,0","6,4",07:20,"12,9",14:00,NaN,NaN,NaN,NaN,"946,7",24,"943,0",00

In [14]:
df_estacion_datos_diarios.isnull().sum(axis=0)

fecha            0
indicativo       0
nombre           0
provincia        0
altitud          0
tmed             2
prec             0
tmin             2
horatmin         2
tmax             2
horatmax         3
dir            129
velmedia       120
racha          129
horaracha      129
presmax         42
horapresmax     42
presmin         42
horapresmin     43
dtype: int64

### Vemos que hay 179 filas con valores nulos en diferentes columnas.
##### vemos que la mayoria de nulos estan concetrados en las columnas relacionadas con el viento y tambien la presion.
##### vamos a hacer drop a las filas con nulls

In [15]:
df_estacion_datos_diarios.isnull()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presmax,horapresmax,presmin,horapresmin
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False
1426,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False
1427,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False
1428,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False
1429,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False

### 1. Obtén los descriptores de cada variable.

In [16]:
## haciendo un dtype vemos que del json a pandas se queda todo como objetos. intento pasar al tipo de dato adecuado para que podamos analizar medias y demas correctamente
df_estacion_datos_diarios.dtypes

fecha          object
indicativo     object
nombre         object
provincia      object
altitud        object
tmed           object
prec           object
tmin           object
horatmin       object
tmax           object
horatmax       object
dir            object
velmedia       object
racha          object
horaracha      object
presmax        object
horapresmax    object
presmin        object
horapresmin    object
dtype: object

In [17]:
# storing dtype before converting 
before = df_estacion_datos_diarios.dtypes 

# converting dtypes using astype
df_estacion_datos_diarios["fecha"]= df_estacion_datos_diarios["fecha"].astype(str)
df_estacion_datos_diarios["nombre"]= df_estacion_datos_diarios["nombre"].astype(str) 
df_estacion_datos_diarios["provincia"]= df_estacion_datos_diarios["provincia"].astype(str) 
df_estacion_datos_diarios["altitud"]= df_estacion_datos_diarios["altitud"].replace(',','.').astype(str)
df_estacion_datos_diarios["tmed"]= df_estacion_datos_diarios["tmed"].replace(',','.').astype(str)
df_estacion_datos_diarios["prec"]= df_estacion_datos_diarios["prec"].replace(',','.').astype(str)
df_estacion_datos_diarios["tmin"]= df_estacion_datos_diarios["tmin"].replace(',','.').astype(str)
df_estacion_datos_diarios["horatmin"]= df_estacion_datos_diarios["horatmin"].astype(str)
df_estacion_datos_diarios["tmax"]= df_estacion_datos_diarios["tmax"].replace(',','.').astype(str)
df_estacion_datos_diarios["horatmax"]= df_estacion_datos_diarios["horatmax"].astype(str)
df_estacion_datos_diarios["dir"]= df_estacion_datos_diarios["dir"].replace(',','.').astype(str)
df_estacion_datos_diarios["velmedia"]= df_estacion_datos_diarios["velmedia"].replace(',','.').astype(str)
df_estacion_datos_diarios["racha"]= df_estacion_datos_diarios["racha"].replace(',','.').astype(str)
df_estacion_datos_diarios["horaracha"]= df_estacion_datos_diarios["horaracha"].astype(str)
df_estacion_datos_diarios["presmax"]= df_estacion_datos_diarios["presmax"].replace(',','.').astype(str)
df_estacion_datos_diarios["horapresmax"]= df_estacion_datos_diarios["horapresmax"].astype(str)
df_estacion_datos_diarios["presmin"]= df_estacion_datos_diarios["presmin"].replace(',','.').astype(str)
df_estacion_datos_diarios["horapresmin"]= df_estacion_datos_diarios["horapresmin"].astype(str)


# storing dtype after converting 
after = df_estacion_datos_diarios.dtypes 
  
# printing to compare 
print("BEFORE CONVERSION\n", before, "\n") 
print("AFTER CONVERSION\n", after, "\n")

BEFORE CONVERSION
 fecha          object
indicativo     object
nombre         object
provincia      object
altitud        object
tmed           object
prec           object
tmin           object
horatmin       object
tmax           object
horatmax       object
dir            object
velmedia       object
racha          object
horaracha      object
presmax        object
horapresmax    object
presmin        object
horapresmin    object
dtype: object

AFTER CONVERSION
 fecha          object
indicativo     object
nombre         object
provincia      object
altitud        object
tmed           object
prec           object
tmin           object
horatmin       object
tmax           object
horatmax       object
dir            object
velmedia       object
racha          object
horaracha      object
presmax        object
horapresmax    object
presmin        object
horapresmin    object
dtype: object

In [19]:
df_estacion_datos_diarios.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presmax,horapresmax,presmin,horapresmin
0,2017-01-01,3195,"MADRID, RETIRO",MADRID,667,"1,7","0,0","-0,6",05:30,"4,0",Varias,04,"0,0","3,3",01:20,"951,8",00,"944,8",24
1,2017-01-02,3195,"MADRID, RETIRO",MADRID,667,"2,7","0,0","-0,8",01:40,"6,2",15:30,04,"0,8","4,4",10:50,"945,5",24,"943,6",06
2,2017-01-03,3195,"MADRID, RETIRO",MADRID,667,"6,0",Ip,"1,7",05:50,"10,2",15:40,25,"0,0","3,3",14:10,"948,6",24,"945,3",01
3,2017-01-04,3195,"MADRID, RETIRO",MADRID,667,"6,8","0,0","2,2",08:30,"11,5",14:30,23,"0,8","3,6",14:10,"950,4",10,"947,4",Varias
4,2017-01-05,3195,"MADRID, RETIRO",MADRID,667,"7,2","0,0","4,7",03:30,"9,8",Varias,28,"0,6","2,8",13:10,"947,7",12,"946,3",16

In [18]:
df_estacion_datos_diarios.describe()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presmax,horapresmax,presmin,horapresmin
count,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430,1430
unique,1430,1,1,1,1,286,125,267,114,326,85,39,23,69,146,258,25,280,26
top,2017-03-19,3195,"MADRID, RETIRO",MADRID,667,"9,6","0,0","11,0",Varias,"12,0",13:30,04,"1,1",nan,nan,nan,24,nan,18
freq,1,1430,1430,1430,1430,20,1097,17,114,17,88,156,151,129,129,42,261,42,204