# Limpieza de Datos de Tráfico en Madrid

In [1]:
#importamos librerías
import pandas as pd

In [2]:
#carga de datos de trafico para filtrar
trafico = pd.read_csv('/Users/jessicasuse/Desktop/BigData/Proyecto/Git/ProyectoBigData/Tráfico/Madrid/trafico_06_2018.csv', header=None, encoding = 'unicode_escape', sep=";", engine = 'python', index_col = None)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/jessicasuse/Desktop/BigData/Proyecto/Git/ProyectoBigData/Tráfico/Madrid/trafico_06_2018.csv'

In [ ]:
#carga de datos de ubicacion para filtrar
ubicacion = pd.read_csv('/Users/jessicasuse/Downloads/pmed_ubicacion_06-2018.csv', sep=";", engine = 'python', index_col = None)

In [ ]:
trafico.head()

In [ ]:
ubicacion.head()

In [47]:
trafico.describe()

,0,1,2,3,4,5,6,7,8
count,11202245,11202245,11202245,11202245,11202245,11202245,11202245,11202245,11202245
unique,4023,2881,3,7216,103,102,134,2,17
top,4115,2018-06-05 12:15:00,URB,0,0,0,0,N,15
freq,2880,3954,10047881,134563,2115556,693779,10062133,11202244,9411953

In [51]:
trafico.describe(include = 'all')

,0,1,2,3,4,5,6,7,8
count,11202245,11202245,11202245,11202245,11202245,11202245,11202245,11202245,11202245
unique,4023,2881,3,7216,103,102,134,2,17
top,4115,2018-06-05 12:15:00,URB,0,0,0,0,N,15
freq,2880,3954,10047881,134563,2115556,693779,10062133,11202244,9411953

In [54]:
trafico.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
8    object
dtype: object

In [58]:
missing_data = trafico.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print('')

0
False    11202245
Name: 0, dtype: int64

1
False    11202245
Name: 1, dtype: int64

2
False    11202245
Name: 2, dtype: int64

3
False    11202245
Name: 3, dtype: int64

4
False    11202245
Name: 4, dtype: int64

5
False    11202245
Name: 5, dtype: int64

6
False    11202245
Name: 6, dtype: int64

7
False    11202245
Name: 7, dtype: int64

8
False    11202245
Name: 8, dtype: int64